<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/contact.css">
        <link rel="shortcut icon" href="favicon.ico"/>
        <script src="js/require.js"></script>
		<script src="js/requireconfig.js"></script>
		<script type="text/javascript">
			require(['mybase'], function (){console.log('load js ok!')});
		</script>
    </head>
    <body>
    	<div id="app">
    		<nav>
		    <div class="dialogue xycenter"></div>
	    		<div class="nvbx">
					<h1>{{resume.infor.name}}</h1>
					<ul class="fR">
						<template v-for="item in resume.nav">
						    <li v-bind:class="{current:navcurt==item[1]?true:false}">
	    						<a v-bind:href="item[1]">{{item[0]}}</a>
							</li>
					  	</template>
					</ul>
	    		</div>
			</nav>
			<div class="kong"></div>
			<div class="main m0auto main-contack">
				<div class="xycenter minfor">
					<template v-for='(value, key) in resume.infor'>
						<p v-if="key!='age'&&key!='hd'&&key!='ch'">
							<template v-if="key=='name'">
								姓名:{{value}}
							</template>
							<template v-else>
								{{value}}
							</template>
						</p>
					</template>
				</div>
			</div>
			<div class="pointer"></div>
			<footer></footer>
    	</div>
    </body>
</html>