<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="shortcut icon" href="favicon.ico"/>
		<script src="js/require.js"></script>
		<script src="js/requireconfig.js"></script>
		<script src="js/index.js" defer async="true"></script>
    </head>
    <body>
    	<div id="app">
    		<div class="progressbg">
				<div class="progress d5">
			      <div class="progress-bar"></div>
			      <div class="progress-word"></div>
			    </div>
		    </div>
	
	    	<div class="head">
	    		<nav>
	                <div class="dialogue xycenter"></div>
	    			<div class="nvbx">
	    				<h1>{{resume.infor.name}}</h1>
	    				<ul class="fR">
	    					<template v-for="item in resume.nav">
							    <li v-bind:class="{current:navcurt==item[1]?true:false}">
		    						<a v-bind:href="item[1]">{{item[0]}}</a>
								</li>
						  	</template>
	    				</ul>
	    			</div>
	    		</nav>
	    		<div class="bgp">
		    	<header>
		    		<span></span>
		    		<div class="mypt xycenter">
		    			<p>
		    				{{resume.infor.post}}<br/>
		    				{{resume.infor.age}}
		    			</p>
		    			<i></i>
		    			<img src="image/img/my.png">
		    		</div>
		    	</header>
		    	</div>
	    	</div>
	    	<div class="main">
	    		<div class="pointer"></div>
	    		<div class="mainbx">
	    			<div class="ma-hd">
	    				<h1>{{resume.infor.name}}</h1>
	    				<h2>{{resume.infor.hd}}</h2>
	    				<p>{{resume.infor.ch}}<br/>
	    				{{resume.infor.phone}}<br/>
	    				{{resume.infor.email}}
	    				</p>
	    			</div>
	    			
	    			<template v-for="(value, key) in resume.headline">
		    			<div class="evaluate" v-if="key=='evaluate'">
						  	<h2>{{value[0]}}</h2>
		    				<div class="ineva">
		    					<p>
		    						<template v-for="item of value[1]">
		    							{{item}}<br/>
		    						</template>
		    					</p>
		    				</div>
						</div>
						
						<div class="evaluate mt0" v-if="key=='intention'">
						  	<h2>{{value[0]}}</h2>
		    				<div class="ineva">
		    					<p>
		    						<template v-for="item of value[1]">
		    							<b>{{item[0]}}</b>{{item[1]}}<br/>
		    						</template>
		    					</p>
		    				</div>
						</div>
						
						<div class="evaluate mt0 undergo" v-if="key=='workundergo'">
						  	<h2>{{value[0]}}</h2>
		    				<div class="ineva">
		    					<template v-for="item of value[1]">
		    						<template v-for="(value, key) in item">
		    							<template v-if="key=='time'">
		    								<h3><b>{{value[0]}}<span>{{value[1]}}</span>{{value[2]}}</b></h3>
		    							</template>
	    								<p>
			    							<template v-if="key=='pm'">
			    								<span><b>{{value}}</b></span><br/>
			    							</template>
			    							<template v-if="key=='comf'">
			    								{{value}}<br/>
			    							</template>
		    								<template v-if="key=='dir'">
	    										{{value[0]}}<br/>
		    									<template v-for="item of value[1]">
		    										{{item}}<br/>
		    									</template>
			    							</template>
	    								</p>
		    						</template>
		    					</template>
		    				</div>
						</div>
						
						<div class="evaluate mt0 undergo" v-if="key=='proundergo'">
						  	<h2>{{value[0]}}</h2>
		    				<div class="ineva">
		    					<template v-for="item of value[1]">
		    						<template v-for="(value, key) in item">
		    							<template v-if="key=='time'">
		    								<h3><b>{{value[0]}}<span>{{value[1]}}</span>{{value[2]}}</b></h3>
		    							</template>
		    							<p>
			    							<template v-if="key!='time'">
			    								{{value}}<br/>
			    							</template>
		    							</p>
		    						</template>
		    					</template>
		    				</div>
						</div>
						
						<div class="evaluate mt0 education" v-if="key=='education'">
						  	<h2>{{value[0]}}</h2>
		    				<div class="ineva">
		    					<p>
				    				<h3 v-for="item of value[1]"><b>{{item[0]}}</b>	{{item[1]}}</h3>
		    					</p>
		    				</div>
						</div>
					</template>
	    		</div>
	    		<div class="pointer"></div>
	
	    		<footer></footer>
	    	</div>
    	</div>
    </body>
</html>
<script src="https://s95.cnzz.com/z_stat.php?id=1261429615&web_id=1261429615" language="JavaScript"></script>
