.mui-bar-nav {
    border-bottom: 1px solid #ebebeb;
    background:#fff;
    .mui-icon img{
    width: 35px;margin-top: -4px;
    }
//  #openPopover{
//      i{top:3px;}
//  }
    .mui-pull-right{
        i{top:3px;}
    }
    .mui-title img{width: 142px;margin-top:11px;}
    .mui-title {font-size: 18px;color: #2d2f33;}
}

//.mui-bar .mui-icon{
//  padding-top: 0;
//}
