.schedule {
  display: none;
  width: 800px;
}

.schedule .title {
  width: 800px;
  height: 50px;
  background: url("/Images/Zhibo/img/scheduletitle.jpg") no-repeat;
  padding: 0 24px;
}

.schedule .title .text {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  margin-right: 10px;
}

.schedule .title .text span {
  font-size: 16px;
}

.schedule .table {
  width: 800px;
  border: 3px solid #ea4638;
  border-top: none;
  padding: 12px 22px;
  margin-bottom: 0;
  height: 373px;
}

.schedule .table .weekBox {
  width: 100%;
  height: 35px;
}

.schedule .table .weekBox li {
  float: left;
  width: 20%;
  height: 35px;
  border-right: 1px solid #fff;
  background-color: #f7c6c1;
  color: #960c00;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
}

.schedule .table .weekBox li:hover, .schedule .table .weekBox li.actived {
  background-color: #ea4335;
  color: #fff;
  cursor: pointer;
}

.schedule .table .sheetBox {
  background: #fdfefe;
  margin-top: 10px;
}

.schedule .table .sheetBox ul {
  display: none;
}

.schedule .table .sheetBox ul.on {
  display: block;
  font-size: 0;
}

.schedule .table .sheetBox ul.on li {
  display: inline-block;
  width: 20%;
  background-color: #fdfefe;
  border-right: 1px dashed #cecece;
  border-bottom: 1px solid #ebebeb;
  vertical-align: top;
}

.schedule .table .sheetBox ul.on li .timer {
  font-size: 16px;
  color: #333;
  background-color: #ebebeb;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.schedule .table .sheetBox ul.on li .programBox {
  color: #333;
  height: 72px;
  line-height: 72px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.schedule .table .sheetBox ul.on li .programBox .programName {
  width: 150px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.schedule .table .sheetBox ul.on li .programBox .teacherName {
  width: 150px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}

.schedule .table .sheetBox ul.on li:first-child, .schedule .table .sheetBox ul.on li:nth-child(6), .schedule .table .sheetBox ul.on li:nth-child(11) {
  border-left: 1px dashed #cecece;
}

.schedule .table .sheetBox ul.on li.past .timer {
  color: #959595;
}

.schedule .table .sheetBox ul.on li.past .programBox {
  color: #b7b8b8;
}

.schedule .table .sheetBox ul.on li.doingNow .timer {
  color: #ea4e41;
}

.schedule .table .sheetBox ul.on li.doingNow .programBox {
  color: #ea4335;
  position: relative;
}

.schedule .table .sheetBox ul.on li.doingNow .programBox .icon {
  display: block;
  width: 40px;
  height: 40px;
  background: url("/Images/Zhibo/img/doingNow.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
