
            /*封页开始*/
.nav{opacity: 0.7;filter:alpha(opacity=70);}
.navfixed{position: fixed;top: 0;}
.dinwei1{position: absolute;top: 0;width: 100%;z-index: 10000;}
.fixedw1{position: fixed;top:-1079px;}
.fengye{position: relative;height: 1200px;overflow: hidden;}
.fytu{position: absolute;left:50%;margin-left: -960px;height:1200px;width: 9999px;}
.fytu li{float: left;}
.fytu img{width: 100%;height: 100%;}

                            /*隐藏封面内容*/
.nav,.anliu{display: none;}
.nav2{display: block;}
.search{display:block;z-index: -1;}
.fytu{display: block;}
.nav-top{display: block;}

/*导航上部份*/


.nav-top{position: absolute;height: 70px;width: 1200px;background:#000;opacity:0.7;filter:alpha(opacity=70);top:623px;left: 50%;margin-left: -600px;
        font-size: 22px;color: #fff;line-height: 70px;padding-left: 15px;cursor: pointer;}
/*.nav-top:hover{background:#000;opacity:0.8;filter:alpha(opaciy=80)}*/
.nav-top i{display: inline-block;width:70px;height: 70px;background: url("../images/index-point-slides-arr.png") no-repeat center;
        float: right;}
.nav-top i:hover{background: url("../images/index-2arr.png") no-repeat center;}

/*文字部分隐藏*/
.tu1{display: block;}
.tu2{display: none;}
.tu3{display: none;}
.tu4{display: none;}
.tu5{display: none;}


.top-jt{position:absolute;width: 83px;height: 78px;background: url("../images/pack-up.png") no-repeat;bottom: 20px;
        left: 50%;margin-left: -41px;cursor:pointer;z-index: 10001;}

.anliu{width: 116px;height: 20px;position: absolute;bottom:210px;right: 37px;}
.anliu li{float: left;}
.anliu li a{display: inline-block;width: 12px;height: 12px;background: #728A92;margin-right: 14px;border-radius:50%;}
.anliu li .a4{margin: 0;}
.anliu li.current a{background: #E16501;}
/*封页结束*/


/*内容部分开始*/
body{height: 3000px;}
.dinwei2{position:fixed;width:100%;top:0px;}
.dw2ra{position:relative;width:100%;top:1080px;}
.phw{margin:220px 0 40px;position: relative;}
.ph{width:100%;height: 136px;background: url("../images/index.png") no-repeat center top;margin: 0 auto;}
.xiang{height:100%;width:100%;border-bottom: 1px solid #D0D0D0;position: absolute;bottom: 1px;z-index: -1}
.cliu-1{width: 1200px;height: 400px;position: relative;overflow:hidden;left: 0;}
.cliu-1 ul{position: absolute;width: 9999px;left:0; }
.cliu-1 ul li{float: left;}
.wz1{position: absolute;height: 70px;width: 1185px;background:rgba(0,0,0,0.7);bottom:0px;left: 50%;margin-left: -600px;
    font-size: 22px;color: #fff;line-height: 70px;padding-left: 15px;cursor: pointer;z-index: 1;}
.wz1 b{font-weight: normal;}
.wz1 i{display: inline-block;width:70px;height: 70px;background: url("../images/index-point-slides-arr.png") no-repeat center;
    float: right;}
.wz1 i:hover{background: url("../images/index-2arr.png") no-repeat center;}

                    /*右箭头定位开始*/
.youjt{position: fixed;width: 80px;height: 80px;background: url("../images/to-top-2.png") no-repeat;right: 40px;bottom: 170px;}
.youjt:hover{background: url("../images/to-top.png") no-repeat;}
.youjt{display: none;}
                    /*右箭头定位结束*/

.cliu-2{width: 1200px;height: 363px;position: relative;overflow:hidden;margin: 50px auto 45px;border-bottom: 1px solid #303030;}
.cliu-2 ul{position: absolute;width: 9999px;}
.cliu-2 ul li{float: left;width: 300px;height: 318px;position: relative;}
.cliu-2 ul img{width: 100%;height: 300px;}
.cliu-2 ul a{display: block;width: 270px;height:40px;background: #B9B9B9;text-align: center;line-height:40px;
    font-size:16px; color: #FCFCFC;position: absolute;bottom:0px;left: 15px;}
.cliu-2 .xf{position: absolute;width: 260px;height: 272px;top: 0;background:#000;opacity:0.8;filter:alpha:(opacity=80); padding: 28px 20px 0;}
.cliu-2 .xf h3{font-size: 24px;color:#F9841A;line-height: 35px;margin-bottom: 10px;}
.cliu-2 .xf p{font-size: 12px;color: #FFFEFB;line-height: 25px;}
.cliu-2 .xf p span{font-size: 9px;color: #94979C;margin-top: 13px;}

 /*JS隐藏的交互*/
.cliu-2 .xf{display: none;}
 /*JS隐藏的交互*/


.cliu-2 ol{position:absolute;width: 104px;height: 14px;bottom: 18px;left: 50%;margin-left: -45px;}
.cliu-2 ol li{float: left}
.cliu-2 ol a{display: block;width: 12px;height: 12px;background: #C0C9C6;margin-right: 14px;border-radius: 50%;}
.cliu-2 ol .current a{background: #E26400;}
.cliu-2 i{display: block;width: 60px;height: 60px;}
.cliu-2 .left,.cliu-2 .right{background:url("../images/left.png") no-repeat;opacity: 0.3;position: absolute;z-index: 3;cursor: pointer;}
.cliu-2 .right{background:url("../images/right.png") no-repeat;top: 108px;right: 0;}
.cliu-2 .left{top: 108px;left: 0;}
.cliu-2 .left:hover{opacity: 1;}
.cliu-2 .right:hover{opacity: 1;}

/*品牌活动开始*/
.phd{margin:40px auto;}
.inphd{background-position:center -135px;}

.pinhd{height: 751px;width: 1200px;margin: 0 auto;border-bottom: 1px solid #2E2E2E;}
.pinhd .n1{width: 600px;height: 350px;float: left;}
.pinhd .n2,.pinhd .n3{width: 300px;height: 350px;float: left;}
.n1,.n2,.n3{position: relative;overflow: hidden;cursor: pointer;}
.nx .infor{position: absolute;bottom: 0;height: 115px;background:#000;opacity: 0.8;filter:alpha(opacity=80);padding: 15px 15px 0;}
.nx .infor h3{font-size: 18px;color: #FA8000;font-weight: normal;}
.nx .infor p{line-height: 22px;color: #F1FFFF;margin: 13px 0;}
.nx .infor span{font-size: 9px;color: #929AA5;}


        /*JS交互*/
.nx .infor{bottom: -80px;}

/*JS文字变白-品牌活动*/
.nx .infor h3{color: #F3FFFF;}


/*品牌活动结束*/


/*全方位时尚开始*/
.qsp{background-position: center -270px;}
.qfwsp{width: 1200px;height: 675px;margin: 40px auto 60px;position: relative;border-bottom: 1px solid #2F2F2F;overflow: hidden;}
.qfwsp ul{position: absolute;width: 9999px;}
.qfwsp ul li{float: left;height: 630px;width: 300px;position: relative;}
.qfwsp ul .xin{height: 150px;background: #E6E6E6;}
.xin h3,.xin p{font-size: 22px;color: #7A6E6E;line-height: 34px;text-align: center;font-weight: normal;}
.xin h3{padding-top: 40px;}
.xin p{font-family: Arial;}
.tuwen{height:450px;width: 239px;background: rgba(0,0,0,0.7);position: absolute;padding: 30px 30px 0;}
.tuwen h3{font-size: 22px;color:#FF8004;}
.tuwen p{font-size: 14px;line-height: 28px;color: #FFFFFF;margin-top: 33px;}
.tuwen span{font-size: 14px;color: #F8FFFF;margin-top: 14px;}
.bdl{border-left:1px solid #D3D3D3; }
.bdl2{border-right:1px solid #D3D3D3; }

/*JS交互*/
.tuwen{display: none;}

.qfwsp ol{width: 104px;height: 12px;position: absolute;bottom: 18px;left: 50%;margin-left: -45px;}
.qfwsp ol li{float: left;}
.qfwsp ol a{display: block;width: 12px;height: 12px;border-radius: 50%;background:#C4CDCA;margin-right: 14px;}
.qfwsp .drdc2 .current a{background: #DB6C12;}
/*.qfwsp ol a:hover{background: #DB6C12;}*/

.qfwsp i{width: 60px;height: 60px;position: absolute;z-index: 3;}
.qfwsp .left,.qfwsp .right{background:url("../images/left.png") no-repeat;opacity: 0.3;position: absolute;z-index: 3;cursor: pointer;}
.qfwsp .right{background:url("../images/right.png") no-repeat;top: 236px;right: 0;}
.qfwsp .left{top: 236px;left: 0;}
.qfwsp .left:hover{opacity: 1;}
.qfwsp .right:hover{opacity: 1;}
/*全方位时尚结束*/












