.nav-big{height: 180px;}
.nav{background:#ffffff;}
.nav i{left: 131px;}
.gysp{height: 60px;width: 100%;background: #000000;position: fixed;top:120px;z-index: 10}
.gysp .bx{width: 1200px;margin: 0 auto;}
.gysp .bx h2{float: left;font-size: 27px;color: #FF8004;line-height:60px;}
.gysp .bx a{float: right;width: 60px;height: 60px;background: url("../images/nav-2png.png") no-repeat;}


.gybg{height: 660px;width: 100%;background: url("../images/bg2.png") no-repeat center;border-bottom:1px solid #DFDFDF;}
.gybg img{margin: 45px auto 0;}

.content{width: 1200px;margin: 0 auto;height: 490px;border-bottom: 1px solid #2F2F2F;margin-bottom: 60px;}
.letent{width: 884px;margin-top: 42px;}
.ritent{width: 282px;height: 382px;margin-top: 30px;}
.letent h2{font-size: 32px;color: #666666;margin-bottom: 7px;font-weight: normal;}
.letent p{font-size: 16px;line-height: 30px;color: #666666;text-indent: 2em;margin-bottom: 6px;}
.ritent ul{font-size: 16px;color:#666666;border-left: 1px solid #D7D7D7;height: 315px;padding-top: 15px;}
.ritent li{border:1px solid #D7D7D7;margin-bottom: 15px;border-left: 0;}
.ritent li a{line-height: 35px;margin-left: 20px;}
















