.face{
	padding:12px 10px;border-top:1px solid #464649;
	.lvbqbtn,.lvsmt,.lvgd,.lvqp{
		color: #fff;float: left;margin-right: 10px;
	}
	.lvbq,.lvsmt{
		i{top:3px;}
	}
	.lvgd,.lvqp{
		i{color: #808080;}
	}
	.lvgd{
		i{width: 17px;display: inline-block;}
		i.glyphicon.glyphicon-record{font-size:16px;top:2px;color: #ea4335;}
	}
	.lvsmt{
		position: relative;
	}
}