.right-help{
	height:50px;overflow:hidden;padding:10px;
	>a{margin-right:10px;}
	.tlv-txt{
		background: #2d2f33;color: #fff;
		&:hover{background: #ED1C39;}
	}
	.btncl-1{
		&:hover,&:active{
			background:#ED1C39;
		}
	}
	.tasi>i{top: 4px;}
	.mof>i{top:5px;}
	.zkh>i{top:5px;}
	.zkh{
		position: relative;
		i{width:20px;position:absolute;left:4px;}
		&:hover,&:active{
			.tlv-txt{background: #ED1C39;}
		}
	}
}