.right-infor{
	height: 40px;background: #161618;line-height: 40px;color: #fff;position: relative;
	.notify{width: 89px;height: 100%;background:#161618 url(/Images/Zhibo/icon/livespri.png) -2px -366px no-repeat;text-align: center;float: left;position: absolute;top: 0;left: 0;
	}
	// .disclaimer{float: left;height: 100%;overflow: hidden;width: 100%;color: #ef3a21;}
	.marquee{height: 100%;overflow: hidden;}
	.js-marquee{color:#ed1c39}
}