//.mui-content{height: 100vh;}
.fr{float: right;}
.fl{float: left;}
.mui-content{background: #fff;}
.video{
    background: radial-gradient(top,#326288,#13192C);position: relative;color:#969799;height:36vh;
    span{position: absolute;top: 5px;left: 5px;}
}
